[2015-04-14 05:32] lkysow opened #4 "Sprite images"
Right now all the logo images load in different http requests. They should be sprited. This can be done automatically by scss.

[2015-04-14 05:38] lkysow opened #5 "Build routes and views"
Following the wires here, build out the separate views in Angular. Then add the buttons that let you go in between views.

Desktop: https://marvelapp.com/a3fa40
Mobile: https://marvelapp.com/625111

[2015-04-14 05:40] lkysow opened #6 "Integrate views created by Amy and Cynthia"
Take the styled views that @amyngai and @cynthialee created and use them in the angular app.

[2015-04-14 05:40] lkysow opened #7 "Integrate services data into views"
Use the actual data from `src/compiled.json` to populate the views of the app

[2015-04-14 05:41] lkysow opened #8 "Get map control working from new views"
When you click on different categories it should integrate with the map and filter those points

[2015-04-14 05:41] lkysow opened #9 "Remove old views"
Our new search and list works great, let's remove the old views.

[2015-04-14 13:44] amoghsa commented on #5
so are we using search branch for angular app?

[2015-04-14 18:11] lkysow commented on #5
yep!

[2015-04-19 23:34] lkysow opened #13 "Generate minified app.js"
- Create a gulp task to generate a minified app.js file that can be used when deploying to production
- should also include all angular files

[2015-04-21 02:29] lkysow opened #18 "Region filtering"
Need to integrate with map to get this working properly. Here's how it's done in the old app:

[code]

The key is this `features.push(this._regionsLayer.getLayer(fid));` where they're getting the layer from the map. We'll need this in our app to do the filtering properly.

[2015-04-21 04:59] lkysow opened #22 "Translate angular app"
Use https://github.com/angular-translate/angular-translate to add translations everywhere.

Tutorial: http://www.ng-newsletter.com/posts/angular-translate.html

[2015-04-26 21:38] lkysow commented on #6
Done!

[2015-04-26 21:38] #6 closed, assigned to nobody

[2015-04-26 21:39] lkysow commented on #5
Done!

[2015-04-26 21:39] #5 closed, assigned to nobody

[2015-04-26 21:39] lkysow commented on #7
Done!

[2015-04-26 21:39] #7 closed, assigned to nobody

[2015-04-26 21:39] lkysow commented on #9
Done!

[2015-04-26 21:39] #9 closed, assigned to nobody

[2015-04-26 21:39] lkysow commented on #8
Done!

[2015-04-26 21:39] #8 closed, assigned to nobody

[2015-04-27 04:17] cynthialee commented on #22
@lkysow @amoghsa @Jareechang I'll start working on the translation piece.

[2015-04-28 01:12] lkysow opened #33 "Back buttons don't work"

[2015-04-28 01:20] amyngai opened #34 "Style for search list headers"
Just noticed that the list headers need some differentiation. Can we change the colour to `#E7EDF1`

![screen shot 2015-04-27 at 6 17 50 pm](https://cloud.githubusercontent.com/assets/5739342/7361230/f9c677fe-ed09-11e4-8943-02e228689253.png)

[2015-04-28 01:41] lkysow commented on #34
Yep!

--Luke

On Mon, Apr 27, 2015 at 6:20 PM, amyngai notifications@github.com wrote:

[2015-04-28 04:05] #22 closed, assigned to nobody

[2015-04-28 05:29] amyngai opened #40 "[Show on ActivityInfo] Button Style"
current:
<img src="https://cloud.githubusercontent.com/assets/5739342/7363277/a317d45c-ed2c-11e4-8d52-a434070738d0.png" width=400px>

make to match current button styles:
<img src="https://cloud.githubusercontent.com/assets/5739342/7363268/7c40a05c-ed2c-11e4-9815-521e8fa14af9.png" width=400px>

[2015-04-28 18:02] cynthialee commented on #33
Resolved by 01db9baf42eea77c069f9520462cad20f163422f.

[2015-04-28 18:02] #33 closed, assigned to nobody

[2015-04-28 18:05] cynthialee opened #47 "Mobile map renders oddly"
I believe this occurs when the map container resizes, because it renders fine if the map is visible initially. Online documentation suggests calling map.invalidateSize() when resizing occurs.

[2015-04-29 07:06] lkysow commented on #34
@cynthialee made these dropdowns now so we should close this

[2015-04-29 07:06] #34 closed, assigned to nobody

[2015-04-29 07:06] lkysow commented on #18
Done..ish.

[2015-04-29 07:06] #18 closed, assigned to nobody

[2015-04-29 07:07] lkysow commented on #13
Minified by running `gulp dist` and using CDN for most assets now

[2015-04-29 07:07] #13 closed, assigned to nobody

[2015-05-20 16:43] amyngai opened #53 "[discussion] - Feedback from UNHCR"
from @PeaceGeeks (renee)

[2015-05-20 17:01] amyngai commented on #53
Very interesting. Seems like a better filter might be needed similar to `referral required`.
A few questions on eligibility however. Does the database tell us anything about eligibility? I notice a few things like limits on nationality, intake criteria. We can probably work with that.

reviews and rankings will requite another database/backend on our end unless something has been built already??

[2015-06-04 01:20] #47 closed, assigned to nobody

[2015-06-04 01:40] amyngai opened #54 "icon for Region"
![screen shot 2015-06-03 at 6 38 42 pm](https://cloud.githubusercontent.com/assets/5739342/7975149/efacb016-0a1f-11e5-92bc-75f7a8f05895.png)

in humanitarian font

[2015-06-04 02:20] amyngai opened #55 "clicking on a category/region (in sidebar) should put it in the search bar in a “pill”"

[2015-06-04 02:20] amyngai opened #56 "on mobile can't fully hide list view"

[2015-06-04 02:21] amyngai opened #57 "add “Clear All” button (medium)"

[2015-06-04 02:21] amyngai opened #58 "redesign UI so it’s just a space, not a text entry"

[2015-06-04 02:22] amyngai opened #59 "filter needs to be populated with options data"

[2015-06-04 02:22] amyngai opened #60 "filter needs to actually filter the map"

[2015-06-04 02:23] amyngai opened #61 "filters show up in search bar as a pill"

[2015-06-04 02:23] amyngai opened #62 "fill in translations in translations.js"

[2015-06-04 02:23] amyngai opened #63 "way for it to be deployed in Arabic"

[2015-06-04 02:24] amyngai opened #64 "if in Arabic, load different json file"

[2015-06-04 02:25] amyngai opened #65 "can’t reload page when on anything other than home page"

[2015-06-04 02:25] amyngai opened #66 "when you click on a map icon it automatically shows the detail view in the sidebar"

[2015-06-04 02:25] amyngai opened #67 "map should display according to what you’re viewing"

[2015-06-04 02:26] amyngai opened #68 "when you click on a region in the map it should add that region to the pill since it’s a search"

[2015-06-04 02:26] amyngai opened #69 "restrict map zoom out to center on where we have data (i.e. Syria)"

[2015-06-04 02:27] amyngai opened #70 "undo all the hacks Luke put in"

[2015-06-04 02:27] amyngai opened #71 "Sprite Images"

[2015-06-04 02:27] amyngai opened #72 "don't load anything that doesn't need to be loaded"

[2015-06-04 02:28] amyngai opened #73 "star icons on categories need to have images"

[2015-06-04 02:28] amyngai opened #74 "down arrow should point to the right and then point down when you expand the category"

[2015-06-04 02:28] amyngai opened #75 "icons for the organizations in the filter view"

[2015-06-04 02:29] amyngai opened #76 "tab indent on subcategories"

[2015-06-04 02:29] amyngai opened #77 "back button not aligned to the left, should be smaller"

[2015-06-04 02:30] amyngai opened #78 "list view, sections should be white"
![screen shot 2015-06-03 at 6 41 24 pm](https://cloud.githubusercontent.com/assets/5739342/7975779/e4cae22e-0a26-11e5-88c9-cea1b5e061a9.png)

[2015-06-04 02:30] amyngai opened #79 "search result font should be body font size"
(i think it's size 14)

[2015-06-04 05:13] cynthialee commented on #58
@amyngai I think we need to define the space. It looks a little funny with just the filter button floating by itself.

Nothing selected:
![image](https://cloud.githubusercontent.com/assets/3262577/7977264/ad43a9fa-0a3d-11e5-8da9-b796f245c9cf.png)

Something selected:
![image](https://cloud.githubusercontent.com/assets/3262577/7977260/8ed0a8e2-0a3d-11e5-97b1-ead73905fa3e.png)

Also, do you have any

[2015-06-04 06:26] amyngai commented on #58
good question.

Filter button:
- pull it closer to the left (anchor with the top left corner)
- Replace the name `Filter your search` (this is probably the more obvious copy)
- Change shape to simply the following pill tags

Pill Tags
- 5 px border radius.
- use the humanitarianfont/fontawesome "close" font for the `x`
- Use regular sentence case instead of uppercase

Hover states
- refer to image

[2015-06-09 05:03] cynthialee commented on #58
@amyngai The shapely filter is a bit beyond me atm. Also, how do you see this for mobile?

[2015-06-09 05:28] cynthialee opened #80 "Filter options are not displaying in 2 columns"
When I click "Filter Your Search", the filter options, i.e. organizations, should appear in 2 columns.

![image](https://cloud.githubusercontent.com/assets/3262577/8051148/b4c065bc-0e2d-11e5-8290-901614552018.png)

[2015-06-09 05:29] cynthialee commented on #80
@Jareechang Hey Jerry, is this just something on my local?

[2015-06-09 05:58] amyngai commented on #58
little bit like this.
![pinterest tags](https://cloud.githubusercontent.com/assets/5739342/8051448/41af8cd4-0e31-11e5-8245-cf8f3ff3f9af.gif)

thoughts?

![screen shot 2015-06-08 at 10 57 52 pm](https://cloud.githubusercontent.com/assets/5739342/8051499/e1bb1b76-0e31-11e5-847d-3f3cebdc8b8b.png)

[2015-06-09 06:07] cynthialee commented on #58
That's a bit complicated for me to do with all the other visuals. What
about a placeholder "filter your search" and selecting the options?
Example: see multiple select boxes section.

https://select2.github.io/examples.html

Thoughts?

Cynthia

On Mon, Jun 8, 2015, 10:58 PM amyngai notifications@github.com wrote:

[2015-06-09 16:41] Jareechang commented on #80
@cynthialee hmmm I will look into that one

[2015-06-09 17:21] amyngai commented on #58
Good find! The multiple select boxes seems perfect.

I'm good with "filter your search" placeholder. Let me know if you need further styling when you've implemented it.

[2015-06-11 07:13] tuckerbuchy commented on #65
Pull request opened for this ticket.

[2015-06-14 22:26] Jareechang opened #85 "Partner Logos in filter overflows the div"
![screen shot 2015-06-14 at 3 29 00 pm](https://cloud.githubusercontent.com/assets/9851316/8150717/b4220630-12a9-11e5-8d6b-87be52ef9b50.png)

[2015-06-15 00:27] #64 closed, assigned to cynthialee

[2015-06-15 16:09] amyngai opened #86 "Filter - Make the whole box clickable"
usability improvement.

Currently, only clicking the checkbox will check the item. Can we make the whole box clickable to improve usability for inputs? This will significantly improve the mobile experience.

![unhcr_services_advisor](https://cloud.githubusercontent.com/assets/5739342/8164434/ea62e6c6-133d-11e5-83d1-b7fc22a8ce39.jpg)

[2015-06-15 16:25] amyngai opened #87 "Darken the secondary colour"
Currently:
body background: white
secondary: #F8FAFB

<img src="https://cloud.githubusercontent.com/assets/5739342/8164767/3606cd5c-1340-11e5-9d5e-b9616d0834b6.png" width="400px">

Designed:
body background: #F8FAFB
Secondary: #E9EDEF

<img src="https://cloud.githubusercontent.com/assets/5739342/8164771/3a7258c0-1340-11e5-9461-0583c6ad47b4.png" width="400px">

[2015-06-15 16:36] Edouard-Legoupil opened #88 "Prefilter on "End Date""
The geojson file includes an "End Date" property for each services.

We may need to add a pre-filter that will show only services who end date is after "current date"

[2015-06-15 16:39] tuckerbuchy commented on #65
Merged in now.

[2015-06-15 16:39] #65 closed, assigned to tuckerbuchy

[2015-06-15 16:46] PeaceGeeks opened #89 "Referrals flag is missing from filters"
In the beta version, users can filter on services that require a filter. In this version, we would like to do the opposite - users should be able to search on services that do not require a referral.

[2015-06-15 16:53] Edouard-Legoupil opened #90 "Add a splash screen"
It woudl be great to add a splash screen explaining:
-  default view for the app (https://github.com/PeaceGeeksSociety/services-advisor/issues/88 services whose end date has not expired)
- clarifying how the information is collected (i.e. through ActivityInfo database and with the support of UNHCR intersector Coordination Section)

[2015-06-15 17:50] amyngai commented on #90
How do people currently get to the services advisor? I remember Renee showing us that it comes from another website from the UNHCR. The splash content would probably be better from that site for a few reasons.
- as a user: If I'm coming to this page directly, I already know what I'm looking for. The splash screen would be simple another thing to exit.
- as a user: If I don't know what the Services

[2015-06-16 00:23] tuckerbuchy commented on #89
Is this basically just adding a filter that allows filtering by "referral" being present? Sorry not too familiar with beta version.

[2015-06-18 05:57] tuckerbuchy commented on #73
Unsure of what this ticket is referring too... could I get some clarification?

[2015-06-18 05:59] PeaceGeeks commented on #73
See Screenshot - service sub-category (UNHCR category) - Financial Assistance in this example.

![screen shot 2015-06-17 at 10 58 42 pm](https://cloud.githubusercontent.com/assets/2263033/8225040/89e36830-1544-11e5-9f54-0ba49d247608.png)

[2015-06-18 06:00] tuckerbuchy commented on #73
Right but what do you mean, should the icons be changed to images?

[2015-06-18 06:06] tuckerbuchy commented on #58
What's going on with the ticket at the moment? Could i start on the ticket to make the filters show up as pills?

[2015-06-18 06:15] PeaceGeeks commented on #90
@amyngai - yes that is correct - from help.unhcr.jo - tho the plan is to send out an SMS to all refugees when the new app is ready to launch. i am also registering servicesadvisor.org which we will use.

[2015-06-18 06:16] PeaceGeeks commented on #73
See current app - http://data.unhcr.org/jordan/services-advisor/

Each service type has a dedicated icon

[2015-06-18 06:33] PeaceGeeks opened #91 "Show Details for individual service records not clicking thru on mobile"

[2015-06-18 06:37] PeaceGeeks opened #92 "way for users to switch between English and Arabic version of app"
currently there is no way to go from the English version to the Arabic version in the app leading to some to believe that there is no other language version.

[2015-06-18 06:38] PeaceGeeks opened #93 "Get services data fully translated by service providers"

[2015-06-18 07:28] PeaceGeeks opened #94 "Open on ActivityInfo links don't work - is this just for case workers?"

[2015-06-18 14:27] cynthialee commented on #58
Sorry Tucker. I'm working on this...I'll try to finish this tonight so you
can work on the pills.

Cynthia

On Wed, Jun 17, 2015, 11:06 PM Tucker Buchy notifications@github.com
wrote:

[2015-06-18 15:56] amyngai commented on #92
The guys have put in this switcher in the top right corner of the app

![_translate__unhcr_services_advisor](https://cloud.githubusercontent.com/assets/5739342/8235644/e25ae24c-1597-11e5-9769-15d7d1010afc.jpg)

[2015-06-18 16:02] amyngai commented on #90
ok. What are your thoughts in the above issue @PeaceGeeks ?

What is and how long will the content be to explain the above concerns. We can put it in a help section, I also had designed a small section here:
![unhcr_services_advisor](https://cloud.githubusercontent.com/assets/5739342/8235743/8aaf6026-1598-11e5-8f65-3602adae96ae.jpg)
to explain the app (which I didn't have content, so it's really j

[2015-06-18 16:04] PeaceGeeks commented on #92
HI @amyngai - thanks - yes i remember seeing tickets about this that I thought had been closed, but that I now can't find, but I am not see that box in dev. Is it still on someone's local?

[2015-06-18 16:08] PeaceGeeks commented on #90
@Edouard-Legoupil ?

[2015-06-18 16:38] amyngai commented on #92
I'm looking at the `Search` branch. But might be good to clarify with @lkysow . I'm not sure what you're looking at.

[2015-06-18 16:39] PeaceGeeks commented on #92
looking here - dev.pgunhcr.peacegeeks.org

[2015-06-18 16:55] amyngai commented on #89
I think beta version refers to this one: http://data.unhcr.org/jordan/services-advisor/
<img src="https://cloud.githubusercontent.com/assets/5739342/8236729/251a5af2-159f-11e5-9760-9a941f570646.png" width="400px">

So just to clarify @PeaceGeeks

currently:
- Default search on everything
- Filter on if it needs a referral

change to:
- Default search on everything that needs a referral
- Filter on

[2015-06-18 20:37] PeaceGeeks commented on #89
weird - why is it that I can sometimes flag @Edouard-Legoupil and sometimes cannot when I am replying on tix?

I would like his response on this, but my understanding is that he feels that:
- default is to filter on all records
- users have the option to filter on only those services that do not require a referral
- also it would be great if the view of the filtered records (on the right) included

[2015-06-18 21:00] amyngai commented on #89
(renee, it's likely because he's not a part of the organization so it doesn't show up automatically unless it's an issue that he created)

Ah! I understand. So one option (that we already have) `needs referral` and one added filter `does not need referral`

Is that correct?

[2015-06-18 21:29] PeaceGeeks commented on #89
well i suppose i saw it like this:
Option 1
- default - no referral filter
- ability to filter on 'does not need referral'

But we could also do
Option 2
- default - no referral filter
- ability to filter on 'does not need referral' AND on 'needs referral'

[2015-06-18 21:48] PeaceGeeks commented on #89
@Edouard-Legoupil - please weigh in!

[2015-06-18 21:49] PeaceGeeks commented on #89
@amyngai - thanks - i had actually created a UNHCR users which i had added him to, but I forgot to add that group to the repo. but its funny because I have been able to refer to him on other tix. anyway sorted for now.

[2015-06-19 06:54] tuckerbuchy commented on #61
Making some progress on this one.

[2015-06-20 02:09] #58 closed, assigned to cynthialee

[2015-06-20 02:10] cynthialee commented on #92
It's in the search branch of this repo @PeaceGeeks. I don't know if it's actually deployed on dev.pgunhcr.peacegeeks.org.

[2015-06-20 03:38] amyngai opened #96 "UNHCR style"
Hi @Edouard-Legoupil and @PeaceGeeks

Just a thought, I originally designed the app with its own style, but I am realizing that the original colours chosen reflected the http://help.unhcr.jo/ site. Do you want to change the colours of the Services Advisor to better match those colours?

![desktop-search-results-detail_oldcolours](https://cloud.githubusercontent.com/assets/5739342/8265890/0934a796-

[2015-06-20 07:55] lkysow commented on #92
The dev app will have to be redeployed for you to be able to see the
changes on that site. I'll do it when I'm back.
On Jun 20, 2015 4:10 AM, "cynthialee" notifications@github.com wrote:

[2015-06-20 09:02] PeaceGeeks commented on #96
HI @Amy - that site will likely eventually disappear because we are proposing to integrate the Services Advisor piece into a broader app called MyUNHCR. If anything, I would say go with those colors. I quite like the colors you chose, but the blue might make sense. Also (and I recognize this is partly a font issue), I have a hard time reading the red.

On the other hand, the Email/ Print idea is a

[2015-06-20 19:43] amyngai commented on #96
That was an older idea - not MVP at the moment (lots of things to finish first!). :P. Perhaps for a V2 :)

closing this issue and keeping the colours!

[2015-06-20 19:43] #96 closed, assigned to nobody

[2015-06-24 17:13] #59 closed, assigned to Jareechang

[2015-06-24 17:14] #80 closed, assigned to Jareechang

[2015-06-24 17:14] #60 closed, assigned to Jareechang

[2015-06-24 19:51] PeaceGeeks commented on #92
@lkysow - just pinging about this - can you deploy when you have a chance?

[2015-06-24 21:19] lkysow commented on #92
@PeaceGeeks yep, just getting back into the swing of things, I should be able to deploy tonight

[2015-06-24 21:38] PeaceGeeks commented on #92
Great!

[2015-06-25 06:08] PeaceGeeks commented on #92
looks good! could we theme this so that it is the same height as the boxes/ elements to the left?

[2015-06-25 20:34] amyngai commented on #92
we can probably do a simple style:

[code]

we also need to take the 5 px in this class

[code]

![unhcr_services_advisor_and_backend_screens_employer](https://cloud.githubusercontent.com/assets/5739342/8364953/c6c3574c-1b3e-11e5-8bd0-8ac8122f9a2c.jpg)

[2015-06-25 20:35] PeaceGeeks commented on #92
Perfect!!!!

[2015-06-25 20:37] PeaceGeeks commented on #90
@Edouard-Legoupil - looking for your input here since this was your suggestion. Does this address the 'splash screen' idea, or were you wanting something more?

[2015-06-25 21:08] amyngai commented on #92
this was just done in browser :P
someone will need to implement it

[2015-06-25 21:14] PeaceGeeks commented on #92
yes understood!

[2015-06-26 06:20] tuckerbuchy commented on #61
PR opened https://github.com/PeaceGeeksSociety/services-advisor/pull/97

[2015-06-26 07:47] PeaceGeeks commented on #89
In absence of input from @Edouard-Legoupil who I know if dealing with personnel crisis right now, let's go with:

Option 1
default - no referral filter
ability to filter on 'does not need referral'

[2015-06-26 07:51] PeaceGeeks commented on #89
Is 'filter by org' supposed to appear in the area below the referral flag or is this something

[2015-06-30 05:50] tuckerbuchy commented on #92
What's the status on this ticket now? I see the drop down, but has the functionality been worked on?

[2015-06-30 06:27] PeaceGeeks commented on #92
Hi @tuckerbuchy - the switcher is there, and I think @amyngai created the code to theme it, but I don't believe anyone has put it into the code base.

[2015-06-30 21:04] amyngai commented on #92
@tuckerbuchy this is the other issue we have for this: https://github.com/PeaceGeeksSociety/services-advisor/issues/62

seems like @lkysow is assigned to it, perhaps he has more insight.

renee is correct that I have posted the style above:https://github.com/PeaceGeeksSociety/services-advisor/issues/92#issuecomment-115389510 which also has not been implemented

[2015-07-01 00:48] PeaceGeeks opened #98 "Enable right justified alignment for Arabic version of the site"

[2015-07-01 00:49] lkysow commented on #62
Also need to switch the data file to `compiled_AR.json`

[2015-07-01 00:59] lkysow commented on #92
This functionality is working, we just need to
- get the translations, that will be done soon
- also switch the data to come from `compiled_AR.json`. I can do that.

[2015-07-02 14:55] PeaceGeeks commented on #88
hi @tuckerbuchy - was talking with edouard this morning and we feel that this ticket should be part of the release. can you take a look? there are many services that are expired (i.e. offices that are now closed) and we do not want to include these offices in the lists. thanks!

[2015-07-02 17:15] amyngai commented on #98
related to: https://github.com/PeaceGeeksSociety/services-advisor/issues/62

[2015-07-03 03:12] tuckerbuchy opened #100 "Filter pills only filter by the last "pill" selected, instead of doing a compound filter on all "pills""
If you click multiple filters, its really just the last filter you chose that is being filtered by.

[2015-07-03 06:17] PeaceGeeks opened #102 "Add Services Advisor Name to App Title (request was just to remove UNHCR - not Services Advisor)"
@amyngai  - it occurred to me tonight that we don't have the name of the app anywhere prominent. prob too late for a tuesday launch, but wondered what your thoughts are on how we might do this.

[2015-07-03 07:08] #62 closed, assigned to lkysow

[2015-07-03 07:09] lkysow commented on #63
Closing because #92 provides this functionality

[2015-07-03 07:09] #63 closed, assigned to lkysow

[2015-07-03 07:13] lkysow commented on #92
Unfortunately nothing is as easy as it looks. When `compiled_AR.json` is created, the keys of the json change, so for example

[code]

Becomes

[code]

A lot of our code has those strings hardcoded so the translated data breaks the app. I looked at the deployed app in Arabic: http://data.unhcr.org/jordan/services-advisor/index_AR.html and they've gone through and changed all the JS to work with th

[2015-07-04 09:41] Edouard-Legoupil commented on #102
Then maybe the question of a kind of logo could be raised... an idea: https://thenounproject.com/term/golf-course/79160/

[2015-07-04 09:42] Edouard-Legoupil commented on #94
Yes, it's just for Case worker -- who indeed have a login for activityInfo

[2015-07-04 09:44] Edouard-Legoupil commented on #93
Well noted -- this is more something for us to include in our guidelines for the the services mapping database in ActivityInfo.

[2015-07-04 09:45] Edouard-Legoupil commented on #102
could also add an icon .ico

[2015-07-04 09:57] Edouard-Legoupil commented on #89
Sorry for my late response on this.

Actually one of the challenge of the app is that there are potentially two targeted audience:

For case worker, the goal is to provide the maximum searching capacity. Default should be all services and user should have the ability to filter on 'does not need referral' and on 'needs referral'

For refugees, the goal is to prevent misleading search. Default shoul

[2015-07-04 10:10] Edouard-Legoupil commented on #94
Ideally this link should be displayed only for the "NGO worker" use case. -- see: https://github.com/PeaceGeeksSociety/services-advisor/issues/90

[2015-07-04 10:13] Edouard-Legoupil commented on #90
Sorry for the late response: -- adding to https://github.com/PeaceGeeksSociety/services-advisor/issues/89 -- the splash screen could actually allow users to select their use case and the default behavior that is related to the use case:

Ideas for the splash screen:  --

[2015-07-04 10:15] Edouard-Legoupil commented on #90
I can see in the UI screenshot -- "UNHCR Services Advisor" -- Reference to UNHCR should be removed. "Services Advisor" is an inter agency tool. It's important to maintain this neutrality for the branding of the tool

[2015-07-04 10:40] Edouard-Legoupil commented on #90
![services](https://cloud.githubusercontent.com/assets/1789444/8507576/3b937bf0-2252-11e5-9019-284859a5087b.png)

[2015-07-05 17:58] tuckerbuchy commented on #89
What is the conclusion on this? Are we going with option 1?

[2015-07-05 18:07] PeaceGeeks commented on #89
Yes I think that makes sense. So default would show all. Option to display/ filter on only those that do not require a referral (No Referral Required). In a next version with the splash screen, we might mix this up a bit, but this makes sense to me from a user perspective.

[2015-07-05 18:08] lkysow commented on #89
@PeaceGeeks agreed.

@Edouard-Legoupil thanks for weighing in. I understand that there are different use cases however I think it's best to satisfy the use case of the refugees first since there will be lots of them using the app for the first time vs. case workers that will understand how it works as they continue to use it. Thus it makes more sense to me to optimize for the first-time users.

[2015-07-05 21:36] tuckerbuchy commented on #100
Hey Jeree, it seems that I had to do this to for #89. I have a pull request taht contains the fix for this.

[2015-07-05 21:40] tuckerbuchy commented on #85
https://github.com/PeaceGeeksSociety/services-advisor/pull/104

[2015-07-05 21:40] tuckerbuchy commented on #89
PR:https://github.com/PeaceGeeksSociety/services-advisor/pull/104

[2015-07-05 22:39] PeaceGeeks commented on #89
@Edouard-Legoupil - this suggestion does not make sense in terms of filtering because ALL services seem to require a referral. is that correct?

[2015-07-06 01:38] cynthialee opened #105 "Arabic text is tiny"
Examples:
![image](https://cloud.githubusercontent.com/assets/3262577/8514455/dbdc4f22-2344-11e5-98af-6631a4c21334.png)

![image](https://cloud.githubusercontent.com/assets/3262577/8514460/fb8ff936-2344-11e5-8945-ecf885ee5698.png)

@PeaceGeeks @amyngai Please comment.

@tuckerbuchy @lkysow @Jareechang

[2015-07-06 02:20] cynthialee commented on #91
@PeaceGeeks Are you talking about "show details" when you click on a pin on a map, as seen below? It works for me, although I had to mess around to even show the map.  @tuckerbuchy @lkysow @Jareechang Can you guys verify the mobile view in general is broken, e.g. can't see map, parts are hidden?

![image](https://cloud.githubusercontent.com/assets/3262577/8514530/56a19d2e-2346-11e5-8aff-03b068e2f2

[2015-07-06 02:26] PeaceGeeks commented on #91
@cynthialee - do you mean loading the page? Yes I have found that I have to re-load sometimes 2 or 3 times before the site loads up

[2015-07-06 02:40] PeaceGeeks opened #106 "Placement of language selector on mobile version needs to be properly designed or themed"

[2015-07-06 02:54] cynthialee commented on #91
Spoke with Renee, she wasn't sure what this ticket is about. Closing.

[2015-07-06 02:57] cynthialee opened #107 "Map view on mobile is broken"
When viewing the site on mobile, it doesn't seem to load the map view on any options.

[2015-07-06 03:04] PeaceGeeks commented on #91
![img_3674](https://cloud.githubusercontent.com/assets/2263033/8515104/0b2badca-2351-11e5-8e41-8099f8138e76.jpg)
![img_3672](https://cloud.githubusercontent.com/assets/2263033/8515105/0b2ed9be-2351-11e5-90cb-b6d7d93a9dcd.jpg)
![img_3673](https://cloud.githubusercontent.com/assets/2263033/8515106/0b305e10-2351-11e5-89cd-12ceeee8b00a.jpg)

[2015-07-06 03:21] PeaceGeeks commented on #91
![img_3675](https://cloud.githubusercontent.com/assets/2263033/8515224/6f34a252-2353-11e5-88c0-bbbcd10c57c1.jpg)

[2015-07-06 03:22] PeaceGeeks commented on #91
First this last screeshot, i can't scroll beyond that point
i ca see that there is text, but it won't let me scroll past this.
1) go to site
2) filter on cash assitance
3) choose mercy corps (first option)
4) scroll

[2015-07-06 03:25] cynthialee commented on #107
Seems to only load when page is reloaded

[2015-07-06 03:26] PeaceGeeks commented on #91
can't get through to map view (#107) but when I do by mistake,
1) i click on a marker to display the preview
2) click on 'Show Details'
Nothing happens.

[2015-07-06 03:32] PeaceGeeks commented on #91
Click through to individual record - the service labels appear but not the corresponding content.
![img_3676](https://cloud.githubusercontent.com/assets/2263033/8515298/e3e3882e-2354-11e5-8b54-c33f6ca673ec.jpg)

[2015-07-06 03:37] cynthialee commented on #91
Looks like this has been resolved in the latest code. After deploying to website, revisit this ticket. In general, the issues are:
- specific service's details are not loading
- content seems to be cut off, cannot scroll for more

[2015-07-06 03:41] cynthialee commented on #107
May be resolved because navbar was hiding a "show/hide map" button. Will revisit after next push.

[2015-07-06 06:02] lkysow commented on #92
Remaining:
- when switching to English reload app
- translate regions
- various missing translations

[2015-07-06 07:52] PeaceGeeks opened #111 "Back 'Back' buttons more visible, and appear at both the top and bottom of a service record"

[2015-07-06 17:28] amyngai commented on #102
I had thought of this in the top left corner but didn't put it in the design. It's probably a bit late now yes..  It was designed to be very utilitarian – with users already knowing what the app is for, so very little was put into the branding of the app :/

flag on golf course is fine :P . Perhaps even something from the Humanitarian font?

[2015-07-07 03:39] PeaceGeeks opened #114 "Show/ Hide Map does not display map properly"
![img_3677](https://cloud.githubusercontent.com/assets/2263033/8538277/0c1f00b4-241f-11e5-81a7-425ace3a49fa.jpg)

[2015-07-07 03:45] cynthialee commented on #114
@PeaceGeeks can you try clearing your browser settings, or go in a private mode (sorry, I don't know how in Safari)? It works for me, so your phone might just have an old copy of the website content. Also see if the others have the same problem.

[2015-07-07 03:56] PeaceGeeks opened #115 "Make 'Hours' and 'Activities' full width on mobile"
![img_3678](https://cloud.githubusercontent.com/assets/2263033/8538466/4c42c110-2421-11e5-93a8-5ffa2d3e1ba4.jpg)

column option/ compression means long description/ inefficient use of space

[2015-07-07 04:03] PeaceGeeks opened #116 "Reading service record content on mobile is not intuitive"
![img_3679](https://cloud.githubusercontent.com/assets/2263033/8538547/77f89f7c-2422-11e5-9f38-501f14dfed80.jpg)
![img_3680](https://cloud.githubusercontent.com/assets/2263033/8538545/77f48dd8-2422-11e5-9e22-fce2f70dff29.jpg)
![img_3681](https://cloud.githubusercontent.com/assets/2263033/8538546/77f657bc-2422-11e5-9e7e-9f0e1d6a09fe.jpg)

[2015-07-07 04:10] cynthialee commented on #116
@PeaceGeeks can you please describe what the issue is? I know that moving the content left to right isn't intuitive - is that what this ticket is?

[2015-07-07 04:11] PeaceGeeks opened #117 "What is with the 'Google' icons on all the orgs?"
![screen shot 2015-07-06 at 9 09 41 pm](https://cloud.githubusercontent.com/assets/2263033/8538585/752184ca-2423-11e5-8a85-d35b28f40f9e.png)

[2015-07-07 04:12] cynthialee commented on #115
@PeaceGeeks is this really high? It's not feature or data impacting, so I would recommend a low.

[2015-07-07 04:14] PeaceGeeks commented on #116
correct - i wouldn't know it was there at all if it wasn't for me accidentally swiping.

[2015-07-07 04:16] PeaceGeeks commented on #115
i'll make it medium. would ideally be nice to have this sorted before launch, but i agree it can be launched without this being fixed.

[2015-07-07 04:16] cynthialee commented on #116
In that case, I would recommend that we just switch this to your suggestion of having the info appear in one column.

[2015-07-07 04:17] PeaceGeeks commented on #116
that works for me.

[2015-07-07 04:18] cynthialee commented on #106
Selector still needs some tweaking on mobile. Height doesn't match filter bar.

[2015-07-07 04:19] cynthialee commented on #91
@PeaceGeeks Can you retest this? It works for me.

[2015-07-07 04:22] cynthialee commented on #107
Resolved by https://github.com/PeaceGeeksSociety/services-advisor/pull/108

[2015-07-07 04:22] #107 closed, assigned to nobody

[2015-07-07 04:23] cynthialee commented on #115
Let's merge this one with the display service content one, ok?

On Mon, Jul 6, 2015, 9:16 PM Renee Black notifications@github.com wrote:

[2015-07-07 04:25] cynthialee commented on #116
As discussed, use #115 as a solution.

[2015-07-07 04:26] cynthialee commented on #115
Closing this ticket, will use #116 instead.

[2015-07-07 04:26] #115 closed, assigned to Jareechang

[2015-07-07 04:30] PeaceGeeks commented on #91
@cynthialee - i can't test - still having the issue of the map not fully displaying despite clearing my browser history

[2015-07-07 05:09] PeaceGeeks commented on #114
I did clear my browser history and still had the same problem, and was able to replicate this on another testing device.

[2015-07-07 05:32] PeaceGeeks commented on #114
ok this seems to now be resolved since luke redeployed. there is another issue with the display of logos/ buttons that I will open separately.

[2015-07-07 05:32] #114 closed, assigned to cynthialee

[2015-07-07 05:34] PeaceGeeks opened #118 "The alignment of service logos/ buttons is wonky - should be space in between"
![img_3682](https://cloud.githubusercontent.com/assets/2263033/8539349/2d6f9a34-242f-11e5-8930-12aadbe6a004.jpg)

[2015-07-07 05:52] PeaceGeeks commented on #102
Yes Humanitarian font would be good. Perhaps for SA 1.1

[2015-07-07 06:01] PeaceGeeks commented on #102
I am going to open a separate ticket for the logo, because I don't think that is needed for the initial release, but the name DOES need to be in the app for initial release. @amyngai - also, what about having something like 'powered by peacegeeks' in a footer?

[2015-07-07 06:13] PeaceGeeks opened #119 "Create Services Advisor Logo and design for App"

[2015-07-07 06:15] PeaceGeeks opened #120 "Make language selector fit on mobile"
#

[2015-07-07 07:06] PeaceGeeks opened #122 "One of the Arabic categories does not drop down, filter"
the second to last category (with the longest title and 6 records) does not drop down, or filter

![screen shot 2015-07-07 at 12 05 11 am](https://cloud.githubusercontent.com/assets/2263033/8540593/ecabd41a-243b-11e5-851c-c17a9de3cfe1.png)

[2015-07-07 08:21] PeaceGeeks opened #123 "More Arabic Translation"
All required translations listed here.

https://docs.google.com/a/peacegeeks.org/spreadsheets/d/1nf9igX8zFx7OwV74PEHD6Vq6BjIkBe0xeqeS7KwNEEQ/edit?usp=sharing

[2015-07-07 16:41] amyngai commented on #90
~~what does the ^ screenshot accomplish? Should it change the filters presented once clicked or is it merely for data of who uses the app?~~
nevermind, just saw the answer here: https://github.com/PeaceGeeksSociety/services-advisor/issues/89#issuecomment-118496153

[2015-07-07 16:46] amyngai commented on #105
agreed.

Is there a way to change all fonts when it's switched to arabic? (like... 2 pt bigger. or .em or .rem if you're using them)

[2015-07-07 16:47] amyngai commented on #111
what do you mean more "visible"?

[2015-07-07 17:18] PeaceGeeks commented on #111
probably colored - they are white background and easy to miss

[2015-07-07 18:12] amyngai commented on #102
`Powered by PeaceGeeks` for sure.
You can add it as a low priority issue with an `enhancement` label :)

[2015-07-07 18:13] amyngai commented on #119
Sounds good! Let's think about this for next version. @Edouard-Legoupil wanted a golf flag before as the icon. Were there any thoughts around the meaning behind that? We can for sure build off that idea

[2015-07-07 18:25] PeaceGeeks opened #124 "Create 'Powered by PeaceGeeks' footer"

[2015-07-07 18:34] amyngai commented on #111
:+1: cool. can take a look at that. I might do a bunch of visual updates if I can

[2015-07-07 21:15] Edouard-Legoupil commented on #102
Let's just make sure, that's it's "Services Advisor" and not "UNHCR Services Advisor"

[2015-07-07 21:54] Edouard-Legoupil commented on #89
Well it should not be the case -- see https://www.syrianrefugeeresponse.org/resources/sites/points?activity=5603 -- there's a few records with "Referral is not required"

[2015-07-07 22:07] PeaceGeeks commented on #89
@Edouard-Legoupil tells me that there should be 6 "Referral is not required" records - also we should include in this filter "Referrals not accepted"

[2015-07-08 00:57] cynthialee commented on #105
That's something to explore. But on mobile it doesn't look too bad. @PeaceGeeks, can you comment on the size of the Arabic content from what you've seen?

[2015-07-08 00:58] cynthialee commented on #105
![screenshot_2015-07-07-17-54-33](https://cloud.githubusercontent.com/assets/3262577/8560875/c7daff94-24d1-11e5-9861-77a326706280.png)

[2015-07-08 05:45] PeaceGeeks commented on #120
![img_3683](https://cloud.githubusercontent.com/assets/2263033/8563910/d73301ee-24f9-11e5-9c4f-d9c719369284.jpg)

[2015-07-08 05:50] PeaceGeeks commented on #105
this looks good on mobile to me.

[2015-07-08 05:55] PeaceGeeks opened #129 "Language selector - remaining issues"
- translate regions
- various missing translations

[2015-07-08 05:56] PeaceGeeks commented on #129
related to #92

[2015-07-08 05:56] #92 closed, assigned to lkysow

[2015-07-08 05:56] #88 closed, assigned to tuckerbuchy

[2015-07-08 18:00] cynthialee commented on #105
In that case, should we keep this issue open? It looks small on the
desktop, but fine on mobile. If only English users access the desktop, we
might downgrade this to low or close it.

On Tue, Jul 7, 2015 at 10:50 PM Renee Black notifications@github.com
wrote:

[2015-07-08 21:26] amyngai commented on #105
sounds good. Let's touch on this again when we're further into QA.

Probably more important to have the items right aligned https://github.com/PeaceGeeksSociety/services-advisor/issues/98

[2015-07-09 00:39] PeaceGeeks opened #130 "Word 'Women' (in English) is showing in Women Safe Spaces category on the Arabic site"
See - http://dev.pgunhcr.peacegeeks.org/#/results?category=Women%20%D9%85%D8%B3%D8%A7%D8%AD%D8%A7%D8%AA%20%D8%A2%D9%85%D9%86%D8%A9
![screen shot 2015-07-08 at 5 37 38 pm](https://cloud.githubusercontent.com/assets/2263033/8585559/41fabdb6-2598-11e5-893a-5ac300749d4d.png)

[2015-07-09 00:46] PeaceGeeks opened #131 "Some Arabic label have words reversed (LTR is RTL for multi-worded labels)"
It looks like when Gmail sends you and I emails with Magdi's translations that it reverses the order of arabic words for the labels (so RTL instead of LTR for multi-worded labels. This seems to also be an issue for the Governorate labels and anything that he has translated. He sends it correctly and then Google does its thing. He was going to send you images of what it should look like. Would that

[2015-07-09 00:49] PeaceGeeks commented on #105
I think we do need to fix the desktop version in time for launch - increase the Arabic font by a couple of points.

[2015-07-10 03:44] lkysow commented on #129
Regions finished via https://github.com/PeaceGeeksSociety/services-advisor/pull/132

[2015-07-10 03:52] #122 closed, assigned to tuckerbuchy

[2015-07-10 03:56] #117 closed, assigned to tuckerbuchy

[2015-07-10 03:56] PeaceGeeks commented on #117
Google still appears for logos without a logo - another ticket has been created requesting to remove those.

[2015-07-10 03:57] #85 closed, assigned to tuckerbuchy

[2015-07-10 04:00] PeaceGeeks commented on #89
@tuckerbuchy - as discussed the other night 'Referral Method" = "Referral is not required" AND "Referrals not accepted" is TRUE should be the filters for showing which services do not require a referral. Site is still returning 0 records no not closing yet!

[2015-07-10 04:02] #100 closed, assigned to tuckerbuchy

[2015-07-10 04:04] PeaceGeeks commented on #61
@amyngai - what is the expected behaviour here?

[2015-07-10 04:05] PeaceGeeks commented on #87
@amyngai - this was done on Tuesday, correct?

[2015-07-10 04:05] #111 closed, assigned to nobody

[2015-07-10 04:06] #87 closed, assigned to nobody

[2015-07-10 04:06] #77 closed, assigned to nobody

[2015-07-10 04:06] #78 closed, assigned to nobody

[2015-07-10 04:09] #94 closed, assigned to nobody

[2015-07-10 04:11] #118 closed, assigned to nobody

[2015-07-10 04:13] PeaceGeeks commented on #91
still a bit buggy but good enough for now. will open a new ticket.

[2015-07-10 04:14] PeaceGeeks opened #133 "Services with no logo appear as the Google logo - please remove"

[2015-07-10 04:14] PeaceGeeks opened #134 "When user clicks 'Show Details' from pop-up, it is not always obvious that content appears below"

[2015-07-10 04:15] #91 closed, assigned to amyngai

[2015-07-10 04:21] PeaceGeeks opened #135 "Icons for service type not appearing on marker"
![screen shot 2015-07-09 at 9 20 42 pm](https://cloud.githubusercontent.com/assets/2263033/8612116/6c3e8eb6-2680-11e5-9ca1-1e2ec96f327e.png)

[2015-07-10 04:22] #98 closed, assigned to nobody

[2015-07-10 04:31] PeaceGeeks commented on #130
Other odd English words too:

(In pop-up) Show Details, Referral Method

Unknown

[2015-07-10 04:43] PeaceGeeks opened #136 "Misc Arabic translation issues"
Women (see #130)
Open at
Activity Details (In pop-up)
Show Details (In pop-up)
Referral Method, (In pop-up)
Unknown

[2015-07-10 04:44] PeaceGeeks commented on #136
Also word reversal

[2015-07-10 04:47] PeaceGeeks commented on #129
closing and opened #136

[2015-07-10 04:47] #129 closed, assigned to lkysow

[2015-07-10 04:47] #123 closed, assigned to nobody

[2015-07-10 04:48] PeaceGeeks commented on #66
@amyngai - what is the expected behaviour?

[2015-07-10 04:51] PeaceGeeks commented on #120
repeat of #106 so closing

[2015-07-10 04:51] #120 closed, assigned to cynthialee

[2015-07-10 04:51] PeaceGeeks commented on #106
see #120 for screenshot.

[2015-07-10 05:23] MagdiRizkallah commented on #136
أماكن آمنة للنساء = Women Spaces Safe
مجهول = Unknown
نفتتح الساعة = Open at

[2015-07-10 21:13] amyngai opened #137 "Map filters reset after a post location is clicked and closed"

[2015-07-10 21:17] amyngai opened #138 "Map filters reset after a post location is clicked and closed"
notes in the gif
- clicking the "x" keeps the filters (first click)
- clicking on the map resets the filters? it might be because it's filtering on a region..
  ![map filter reset](https://cloud.githubusercontent.com/assets/5739342/8629253/6bb3962e-270e-11e5-9327-3de8c341ee23.gif)

expected behaviour
- when a modal is open, clicking off it should be treated like a "x"
- if the map is clicked while

[2015-07-14 06:12] lkysow commented on #66
Right now it doesn't automatically show the detail view, it brings up a pop-up and then you can click on show details. I agree that this is low priority.

[2015-07-14 06:13] lkysow commented on #130
This is coming directly from the translation data in `data.csv` so I think we'll need to add the translation for women and then regenerate the `compiled_AR.json` file

[2015-07-14 12:48] PeaceGeeks commented on #116
@Jareechang - this is still displaying incorrectly to me.
![screen shot 2015-07-14 at 9 44 40 am](https://cloud.githubusercontent.com/assets/2263033/8673486/3f2945f2-2a0d-11e5-9662-c43c0ffcfa21.png)

[2015-07-14 12:49] PeaceGeeks opened #140 "Loading SA is suddenly much slower than before"
As of the most recent commit, the app loads very slowly. At first I thought i t was brokem, because it was only displaying labels.
![screen shot 2015-07-14 at 9 48 06 am](https://cloud.githubusercontent.com/assets/2263033/8673530/ae4df57c-2a0d-11e5-8237-7dbf0bf59aef.png)

[2015-07-14 12:51] PeaceGeeks commented on #116
Think there was a cache issue. Can we have the labels wrap as occurs on the desktop version?

[2015-07-17 02:38] amyngai commented on #116
it's fixed in the Search Branch. We just need to wait for it to be deployed :)

[2015-07-17 02:42] amyngai commented on #66
hm. can't remember. I think it was just part of the list of issues that we wrote a while ago.

I think the issue is that it _should_ show the detail view when a map icon is clicked. It should be a 1 step process instead of `click icon`> `open pop-up` > `click to show detail`. the last 2 steps should happen together after the 1 step

[2015-07-17 02:45] amyngai commented on #134
related to: https://github.com/PeaceGeeksSociety/services-advisor/issues/66

intended behaviour is that both the popup appears and details appear at the same time

[2015-07-17 02:47] amyngai commented on #134
related to: https://github.com/PeaceGeeksSociety/services-advisor/issues/66

intented behaviour is that both the popup appears and details appear at the same time

[2015-07-17 02:49] amyngai commented on #61
it's what's written in the title.

i believe it's already done.

[2015-07-17 02:49] #61 closed, assigned to tuckerbuchy

[2015-07-17 19:41] #116 closed, assigned to Jareechang

[2015-07-17 20:11] amyngai commented on #71
add sprite images to list of services
![unhcr_jordan_-_service_advisor](https://cloud.githubusercontent.com/assets/5739342/8756191/51ce52a4-2c85-11e5-868e-9d3440bc7c03.jpg)

[2015-07-17 20:12] amyngai commented on #79
![unhcr_jordan_-_service_advisor](https://cloud.githubusercontent.com/assets/5739342/8756210/735d8188-2c85-11e5-85c4-ebe0df64b5f8.jpg)

[2015-07-17 20:16] amyngai commented on #133
![unhcr_jordan_-_service_advisor](https://cloud.githubusercontent.com/assets/5739342/8756294/0da520c0-2c86-11e5-847c-49179fb04ad4.jpg)

[2015-07-21 07:14] lkysow commented on #131
The regions have been fixed

[2015-07-21 07:20] #133 closed, assigned to nobody

[2015-07-21 07:25] lkysow commented on #140
For some reason it's taking a long time to receive the services data `compiled_AR.json` specifically from the server. Maybe changing the server config could fix it, that's all I know for now.

[2015-07-21 07:27] lkysow commented on #137
I am not seeing this behaviour:
- filter on an organization
- click on map pin
- close map pin
- filters haven't reset

[2015-07-21 07:29] lkysow commented on #135
I can't reproduce this. Which marker is it?

[2015-07-21 07:30] lkysow commented on #138
We should just kill clicking on a region to filter then. Keeping track of which state we're in an whether clicking on a region to filter is okay is too much work.

[2015-07-21 07:31] lkysow commented on #134
Unfortunate but we're going to have to live with it given time and resources.

[2015-07-21 07:36] lkysow commented on #93
Nothing to do with the app dev here. Closing.

[2015-07-21 07:36] #93 closed, assigned to Edouard-Legoupil

[2015-07-21 08:05] lkysow commented on #89
I've looked at the data and there are 6 different referral types + some services not having it defined at all. Given this I'm not sure how best to filter. @PeaceGeeks @Edouard-Legoupil

"Email on a per case basis", "Referrals not accepted", "IA Form", "Telephone on a per case basis", "RAIS", "Referral is not required"

[2015-07-21 13:39] PeaceGeeks commented on #89
@lkysow - if it is not a significant number, please just proceed with "Referrals not accepted", AND "Referral is not required" - Edouard can get the service providers to clean up the data. @Edouard-Legoupil - I have written to you on Skype about this, and will call you later to confirm. We will proceed with this unless we hear otherwise from you.

[2015-07-21 13:48] PeaceGeeks commented on #140
Today, it took 21 seconds for the page to load from a pretty decent internet connection. @tuckerbuchy @Jareechang - can one of you look at this?

[2015-07-21 13:50] PeaceGeeks commented on #140
It also took 24 seconds to switch to English.

[2015-07-21 13:57] PeaceGeeks commented on #89
@lkysow - it looks like you already did this (with the two methods above). I am going to close this for now. We can re-open if we hear from @Edouard-Legoupil

[2015-07-21 13:58] PeaceGeeks commented on #135
I can't reproduce this either now, tho it came up before after roaming on the site for a while. Will close for now, and will re-open if I can identify reproducable steps.

[2015-07-21 14:02] PeaceGeeks commented on #134
Don't think it makes sense to close this, but agreed it is a low priority.

[2015-07-21 14:18] PeaceGeeks commented on #135
Closed too quickly. I was in the English desktop version and switched over to Arabic The summary circles (with numbers on the map) were also appearing out of sync. And I got this.
![screen shot 2015-07-21 at 11 17 23 am](https://cloud.githubusercontent.com/assets/2263033/8802860/46ebb378-2f9a-11e5-96a9-f4ffdffcc044.png)

[2015-07-21 14:21] PeaceGeeks commented on #135
![screen shot 2015-07-21 at 11 19 11 am](https://cloud.githubusercontent.com/assets/2263033/8802971/aec9b4fe-2f9a-11e5-8f8c-53471a0dadfc.png)

[2015-07-21 14:29] PeaceGeeks opened #142 "When user switches multiple times between language versions, the number of records changes"
I started in Arabic, switched to English, and then back to Arabic. The total number of records in the first two instance is 75. The third switch, it is 150. When I tried to filter on this, it reset back to 75, so this is an issue, but low priority.

![screen shot 2015-07-21 at 11 26 08 am](https://cloud.githubusercontent.com/assets/2263033/8803112/5a617f9a-2f9b-11e5-9009-9a10ea884a5d.png)

[2015-07-21 14:36] PeaceGeeks commented on #135
Once this happens, it is persistent on the Arabic version (English seems fine). All the icons placements are off for the whole site. I need to clear my browser before it stops doing this.

[2015-07-21 14:39] PeaceGeeks commented on #142
![screen shot 2015-07-21 at 11 37 44 am](https://cloud.githubusercontent.com/assets/2263033/8803402/135a6a42-2f9d-11e5-8400-ba1043dfb681.png)

[2015-07-22 05:33] lkysow commented on #106
Fixed in #143

[2015-07-22 05:34] lkysow commented on #105
Fixed in #143

[2015-07-22 05:34] #105 closed, assigned to nobody

[2015-07-22 05:52] lkysow commented on #135
Reproduced this and figured out it was the text direction in arabic.

[2015-07-22 05:52] #102 closed, assigned to nobody

[2015-07-22 05:54] PeaceGeeks commented on #106
Hi guys - this is still not fixed on my devices.
![img_3697](https://cloud.githubusercontent.com/assets/2263033/8818896/ff6660c4-301c-11e5-9b73-3a84a770ddf5.PNG)

[2015-07-22 06:07] PeaceGeeks commented on #135
Hi @lkysow - is this change merged? Because I can still reproduce it in Safari after clearing my cache. I am also getting the issue of double records (150 instead of 75) which used to happen only later - now its defaulting to that but to 75 on the EN version. And of course I
![screen shot 2015-07-22 at 3 06 59 am](https://cloud.githubusercontent.com/assets/2263033/8819050/bfdb1f24-301e-11e5-95a6-b

[2015-07-22 06:33] lkysow commented on #73
Got this working for English, have to do it for arabic by translating the category back to the original english

[2015-07-22 06:38] lkysow commented on #106
@PeaceGeeks you need to wait for me to upload the new changes. I mark the issue as closed while I'm working to merge, then once I'm done for the night I push to the dev site. Please check now.

[2015-07-22 06:50] PeaceGeeks commented on #106
Ok - year I realized that just before you emailed. Thanks. This is better. It still overlaps with the white bar, but at least I can see both language options in the drop down now.
![img_3699](https://cloud.githubusercontent.com/assets/2263033/8819690/c1ecc6cc-3024-11e5-900f-74617a075595.PNG)

I will close this for now, and open a low priority theming one for later.

[2015-07-22 06:50] #106 closed, assigned to nobody

[2015-07-22 06:51] PeaceGeeks opened #147 "Language selector overlaps with white space in header"
![img_3699](https://cloud.githubusercontent.com/assets/2263033/8819712/f78abc4e-3024-11e5-953d-b27b7d320d51.PNG)

[2015-07-24 01:05] PeaceGeeks commented on #89
re-opening - filter is returning 0 records - @lkysow, i thought you had fixed this, but not I'm not so sure?

![screen shot 2015-07-23 at 10 04 25 pm](https://cloud.githubusercontent.com/assets/2263033/8865552/e5d178e0-3186-11e5-91c3-f8b11c3bd0bd.png)

[2015-07-24 01:13] PeaceGeeks opened #148 "Create a Reset button to enable users to reset all filters to NULL"

[2015-07-24 06:43] lkysow commented on #89
Okay so here's what I've done:
- any service marked "Referrals not accepted" or "Referral is not required" or not given a referral status is considered **Referral not required**
- any service marked otherwise, ex. "Email on a per case basis", "IA Form", "Telephone on a per case basis", "RAIS", is considered **Referral required**

I created 3 radio buttons: All, Referral Required, Referral Not Requ

[2015-07-24 06:48] #89 closed, assigned to tuckerbuchy

[2015-07-24 06:49] lkysow commented on #142
Should be fixed now.

[2015-07-24 06:49] #142 closed, assigned to nobody

[2015-07-24 06:51] lkysow opened #151 "Unicef organization under "Distance"?"
@tuckerbuchy @cynthialee do you guys know why Unicef is listed under distance in the filters?

![image](https://cloud.githubusercontent.com/assets/1034429/8869157/812b1fea-3195-11e5-9366-f07a1433c559.png)

[2015-07-24 06:58] lkysow commented on #140
Closing this, it should be fixed on the real installation and is therefore not a blocker for launch. Cannot reproduce locally and not worth debugging the issue on the dev server.

[2015-07-24 06:58] #140 closed, assigned to nobody

[2015-07-24 06:59] lkysow commented on #71
Duplicated by #73 where we're using an icon font so no spriting.

[2015-07-24 06:59] #71 closed, assigned to nobody

[2015-07-24 06:59] lkysow commented on #70
Too late for that!

[2015-07-24 06:59] #70 closed, assigned to lkysow

[2015-07-24 13:23] PeaceGeeks opened #153 "Distance filters label showing but no distance filters"
Only UNICEF displays mistakenly.

[2015-07-24 14:02] cynthialee commented on #151
That's a placeholder. It means that no one has implemented it or tied it
into the filter UI.

On Thu, Jul 23, 2015, 11:51 PM Luke Kysow notifications@github.com wrote:

[2015-07-24 16:15] lkysow commented on #151
Okay so if we don't do distance we can remove this section?
On Jul 24, 2015 7:02 AM, "cynthialee" notifications@github.com wrote:

[2015-07-24 16:33] PeaceGeeks commented on #151
Hey Luke - this appears on the original app. I am not entirely clear why it was left out. How much effort would it be to include these filters

We have province so that is probably good for now, but this is what it looked like in the original app
![screen shot 2015-07-24 at 1 32 33 pm](https://cloud.githubusercontent.com/assets/2263033/8879566/90d3ad40-3208-11e5-8fe7-020668285ed3.png)

[2015-07-24 16:44] lkysow commented on #151
Yes I know but we must cut all non essential features.
On Jul 24, 2015 9:33 AM, "Renee Black" notifications@github.com wrote:

[2015-07-24 16:47] PeaceGeeks commented on #151
Ok I agree this is non-essential for now. I have created a separate ticket for this issue anyway, so we can close that, and look at this in a future release.

[2015-07-24 16:47] #151 closed, assigned to nobody

[2015-07-27 01:08] amyngai commented on #153
closed until V2

[2015-07-27 02:57] PeaceGeeks commented on #153
HI team - If these are V2, can we just create a new label and apply that instead of closing tickets for stuff that isn't addressed? Thanks!

[2015-07-28 05:36] lkysow commented on #135
This is fixed and merged and deployed.

[2015-07-28 05:36] #135 closed, assigned to nobody

[2015-07-28 05:38] lkysow commented on #148
Duplicates #57

[2015-07-28 05:38] #148 closed, assigned to nobody

[2015-07-28 05:39] lkysow commented on #75
Done.

[2015-07-28 05:39] #75 closed, assigned to nobody

[2015-07-28 05:40] lkysow commented on #86
Done.

[2015-07-28 05:40] #86 closed, assigned to nobody

[2015-07-28 05:40] lkysow commented on #137
Duplicates #138

[2015-07-28 05:40] #137 closed, assigned to nobody

[2015-07-28 05:45] lkysow commented on #131
@PeaceGeeks would it be possible for Magdi to tell us which ones are wrong?

[2015-07-28 05:48] lkysow commented on #124
Put this in the right sidebar.

[2015-07-28 05:48] #124 closed, assigned to nobody

[2015-07-28 05:54] PeaceGeeks commented on #131
for sure -

[2015-07-28 06:15] lkysow commented on #73
The current arabic site doesn't have this: http://data.unhcr.org/jordan/services-advisor/index_AR.html#map-filters doesn't have this

![image](https://cloud.githubusercontent.com/assets/1034429/8924724/5423c77c-34b5-11e5-81cf-54458fc6f1db.png)

[2015-07-28 06:21] PeaceGeeks opened #154 "On mobile, I click on service record but map marker does not display on map"
![screen shot 2015-07-27 at 11 17 42 pm](https://cloud.githubusercontent.com/assets/2263033/8924786/272276b4-34b6-11e5-82e4-d5e8a95204d0.png)

[2015-07-28 06:22] PeaceGeeks opened #155 "On mobile, map only partially displays and does not display the map marker"
![screen shot 2015-07-27 at 11 02 08 pm](https://cloud.githubusercontent.com/assets/2263033/8924808/667d54f0-34b6-11e5-81b0-496dfc4eea2e.png)

[2015-07-28 06:34] #54 closed, assigned to nobody

[2015-07-28 06:37] lkysow commented on #73
But now we do!

[2015-07-28 06:37] #73 closed, assigned to nobody

[2015-07-28 06:39] PeaceGeeks opened #157 "'Not Referral Required' filter works, but when user clicks on map marker, filter settings change"
I click on 'Filter Your Search'
Then on 'Referral Not Required' and 'Apply'
I get 3 records (this is wrong tho - will open a separate ticket about that)

Option #1: I click one of the 3 map records on the left - displays as expected

Option #2: I click one of the 3 list records on the right - filters rest - does not display as expected

![screen shot 2015-07-27 at 11 39 02 pm](https://cloud.github

[2015-07-28 06:41] PeaceGeeks opened #159 "Referral Filter not behaving as expected"
'Does not require referral' should return all records that have Referral Method = either 'Referral Not Accepted' OR 'Referral is Not Required'

instead, it displays 2 'Referral Method' = 'unknows' and 1 no value

[2015-07-28 16:08] lkysow commented on #159
@PeaceGeeks see my comment on #89

The reason you're not seeing any other type of referral method is because there are no services with that type that are not past their dates. This should be closed.

[2015-07-28 16:08] PeaceGeeks opened #160 "Some records do not display all record fields"
I filter on 'Referral not required' and get 3 records
I click thru to the first map marker and click 'Show Details'
Not all fields for that record display

ALSO
I click on the map record for the next record but the map record in the right window does not change, which I expected it to do.

I recommend either that:
1. this behaviour change so that the right window displays the record data for the c

[2015-07-28 16:11] lkysow commented on #160
1. There's no data for that record if it's not being shown
2. The sidebar not updating is is logged in #66

[2015-07-28 17:00] PeaceGeeks commented on #159
HI @lkysow - the problem is this:

for the 3 records that return, NONE have a Referral Method = "Referrals not accepted" or "Referral is not required" - just 3 with nothing at all, but I can also see a bunch of records that should be displaying in Referral not Required - here are some examples (see Referral Method)

http://dev.pgunhcr.peacegeeks.org/#/services/2039902216
http://dev.pgunhcr.peacege

[2015-07-28 17:26] MagdiRizkallah commented on #131
Here is a start...  May be we can have an interactive meeting to complete that since I do not know where every translation is..
![servicesadvisortranslations](https://cloud.githubusercontent.com/assets/5035201/8938372/257c9aee-3513-11e5-8f81-1282aaf3d0e5.jpg)

[2015-07-28 17:31] lkysow commented on #159
Okay I see a bug. Will fix after work.

[2015-07-28 17:35] amyngai commented on #153
agreed ^
thx

[2015-07-28 17:41] amyngai commented on #138
good suggestions ^

[2015-07-29 01:15] lkysow commented on #159
Looks good now.

[2015-07-29 01:15] lkysow commented on #66
This works now.

[2015-07-29 01:15] #66 closed, assigned to nobody

[2015-07-30 22:37] amoghsa commented on #74
Just to get started (get familiarized with recent changes), I fixed this one.. :smile: Please check changes.

https://github.com/amoghsa/services-advisor/commit/b26698d101917e99bdb34dd48f37844f29b0a81f

@cynthialee @lkysow

[2015-08-03 17:34] lkysow commented on #160
@PeaceGeeks I think this should be closed. The first issue is the data from activity info and the second has been fixed.

[2015-08-03 17:38] lkysow commented on #79
I did this but it's not up on the dev site yet.

[2015-08-03 17:38] #79 closed, assigned to nobody

[2015-08-03 17:39] lkysow commented on #72
Will do this but won't track it.

[2015-08-03 17:39] #72 closed, assigned to nobody

[2015-08-04 02:23] lkysow commented on #131
@MagdiRizkallah thanks, this is great information. The only other translations are
- in the `filter your search` bar (just click it)
- when you click on an actual service the details will show on the right. Please look at the headings to ensure they're correct.

So if you look at those places then you will have seen everything.

[2015-08-04 03:22] PeaceGeeks commented on #160
Hi @lkysow - question for you. For 'Referral Method', when it displays as 'unknown', it that an actual value, or is that what displays when there is no value? If it is the former, please close. If it is the latter, then I wonder why this field doesn't display for the records above. Any thoughts?

[2015-08-05 05:37] lkysow commented on #160
@PeaceGeeks that's what it displays when there's no data. I don't know why it doesn't have data, this is what we got from syrianrefugeeresponse.org:

[code]

[2015-08-05 05:53] lkysow commented on #138
I've removed filtering on region via clicking.

[2015-08-05 05:53] #138 closed, assigned to tuckerbuchy

[2015-08-05 05:54] lkysow commented on #68
I've removed clicking on a region to filter. This still needs to be done for click on a region in the search bar on the side.

[2015-08-05 05:54] #68 closed, assigned to nobody

[2015-08-05 05:56] lkysow commented on #57
@amyngai @tuckerbuchy is working on putting all the search filtering into the pills so once this is done they should be able to use the `x`'s to remove filters. I think that's good for now and we could add a clear all in v2?

[2015-08-05 06:34] lkysow commented on #154
@PeaceGeeks are you sure it's not showing or is it just not showing in the part of the map you can see? I think it's the latter.

[2015-08-05 06:34] lkysow commented on #154
Would be nice to center the map on the location, but maybe the easiest thing we can do now is to just zoom out the map when clicking on a record from the list?

[2015-08-05 06:45] PeaceGeeks commented on #154
Yes sure - I zoomed out to the full country. It is not showing at all. Also, half the map was cut off - related to another mobile bug that I logged a couple of weeks ago where the bottom half of the map did not display.

[2015-08-05 06:56] lkysow commented on #154
Are you on your mobile phone or using the browser on your desktop with a
small window?

Which marker is it? We'll need the id in the url.
On Aug 4, 2015 11:45 PM, "Renee Black" notifications@github.com wrote:

[2015-08-05 06:57] PeaceGeeks commented on #154
mobile, but I think i replicated on a small desktop window too. Let me try to reproduce just now.

[2015-08-05 07:04] PeaceGeeks opened #163 "Add Service Provider Address and Hotline number to service provider records"
These are the AI fields

![image001](https://cloud.githubusercontent.com/assets/2263033/9080108/7af7c802-3b05-11e5-87dc-7996086df313.png)

[2015-08-05 07:08] PeaceGeeks commented on #154
dev seems to be down - any idea why?

[2015-08-05 07:19] tuckerbuchy opened #164 "Make filters appear in the url as a list of parameters"
I want the url to reflect what the user is looking at.

[2015-08-05 17:18] lkysow commented on #163
As you say, right now that data isn't coming from the syrianrefugeeresponse.org: https://www.syrianrefugeeresponse.org/resources/sites/points?activity=5574

Example:

[code]

[2015-08-06 01:37] PeaceGeeks commented on #154
Ok so this is the sequence of events - I can't reproduce it consistently
1 I filter on Cash
2 I choose financial assistance
3 I click on the second option for IRC (Ar-Ramtha City: Financial Assistance)

Problem #1: The record does not align to the top, but instead to a random midway point in the record where the user can't see the 'Back' or 'Show/ Hide Map' button

Problem #2: When I scroll to the

[2015-08-06 02:12] amyngai commented on #57
agreed ^

[2015-08-08 03:56] PeaceGeeks commented on #159
Am still seeing some 'Referrals Not Accepted' records appearing when the 'Referral Required' filter is selected. Here are some examples. http://dev.pgunhcr.peacegeeks.org/#/services/1852170347
http://dev.pgunhcr.peacegeeks.org/#/services/1914605032

[2015-08-08 07:43] lkysow commented on #159
There's still an issue with selecting a filter and then selecting another category, I think that's how you saw this record because when I do a filter immediately upon load I only see one service in that region that your first service is in.

With filter referral required:
![image](https://cloud.githubusercontent.com/assets/1034429/9149593/1eaeba7a-3d66-11e5-8c29-c07de80864d6.png)

With filter refe

[2015-08-08 08:20] PeaceGeeks commented on #159
These are the steps I follow:
1. Filter on  'Referral Required'
2. Go to Cash
3. Go to Financial Assistance
4. Choose the 6th record down - Tafileh Governorate: Financial Assistance
http://dev.pgunhcr.peacegeeks.org/#/services/1852170347

[2015-08-08 09:11] lkysow commented on #164
Awesome work on this.

[2015-08-08 09:11] #164 closed, assigned to tuckerbuchy

[2015-08-08 09:12] lkysow commented on #160
@PeaceGeeks what are we doing with this ticket?

[2015-08-08 09:14] lkysow commented on #159
Yes this was caused because the filtering on referral didn't work with category search. @tuckerbuchy fixed this, I cannot reproduce anymore.

[2015-08-08 09:14] #159 closed, assigned to nobody

[2015-08-08 09:14] #157 closed, assigned to tuckerbuchy

[2015-08-08 09:14] lkysow commented on #55
Fixed by #166

[2015-08-08 09:14] #55 closed, assigned to nobody

[2015-08-08 09:42] PeaceGeeks commented on #160
Closing

[2015-08-08 09:42] #160 closed, assigned to nobody

[2015-08-08 21:15] lkysow commented on #155
This has been fixed.

[2015-08-08 21:15] #155 closed, assigned to nobody

[2015-08-08 21:15] lkysow commented on #154
This has been fixed.

[2015-08-08 21:15] #154 closed, assigned to nobody

[2015-08-08 21:18] lkysow commented on #56
@amyngai with the way this is built we'd have to introduce a slideable sidebar or something to fully hide the list view but be able to get it back. I think the way it works now where it's taking up < 1/4 of the screen is as good as it's going to get at the moment.

[2015-08-08 21:26] #40 closed, assigned to nobody

[2015-08-08 22:48] lkysow commented on #74
@amoghsa awesome, super slick!

[2015-08-08 22:48] #74 closed, assigned to nobody

[2015-08-08 23:09] lkysow commented on #147
![image](https://cloud.githubusercontent.com/assets/1034429/9152709/e3d6b844-3de7-11e5-965d-a36d9ffa88b3.png)

[2015-08-08 23:09] #147 closed, assigned to nobody

[2015-08-09 00:12] #136 closed, assigned to lkysow

[2015-08-09 00:12] #130 closed, assigned to nobody

[2015-08-09 00:13] lkysow commented on #131
@PeaceGeeks @MagdiRizkallah I can't really do anything with the screenshots, I need to be able to cut and paste.

Please fill out this spreadsheet with any of the incorrect translations (e.g. the regions): https://docs.google.com/spreadsheets/d/1pJUGN9PfuUd7bCMSiNPc6aZ7IxGs5mUng4_LJ_dPtbw/edit?usp=sharing

I haven't had any issues cutting and pasting from the spreadsheet so if it's the correct dir

[2015-08-09 23:12] amyngai commented on #56
I don't mind that we can't fully hide atm. I'm a bit more concerned about how hard it is to look at an individual entry. Can we make it 1/3 at least?

<img width="335" alt="screen shot 2015-08-09 at 4 09 45 pm" src="https://cloud.githubusercontent.com/assets/5739342/9157421/51a43044-3eb1-11e5-8167-030c8d93dab4.png">

[2015-08-09 23:13] lkysow commented on #56
But when you scroll that slides up. If we make it 1/3 it will be hard to
use the map.
On Aug 9, 2015 4:12 PM, "amyngai" notifications@github.com wrote:

[2015-08-09 23:20] amyngai commented on #56
it's fine at the moment, I think we can revisit better UX in the future for the mobile view. (thx for the V2 label)

[2015-08-10 07:16] alsamhou commented on #163
Who should update the script to fetch this information? I don't understand the missing side?

[2015-08-10 07:21] PeaceGeeks commented on #163
Hi Murad,
Luke was pointing out that the fields are not coming from Activity Info, but instead from https://www.syrianrefugeeresponse.org. Is there an equivalent field on Activity Info that could be used?

Otherwise, I will talk to Mack about this tomorrow (see my email from last about this matter). Also, have you been asking service providers to start including this data yet?

[2015-08-10 18:31] MagdiRizkallah commented on #131
Done both category levels  and the regions to the best of my ability.

[2015-08-10 19:19] PeaceGeeks commented on #131
@alsamhou - can you QA Magdi's translations before Luke goes ahead and puts them in please?

[2015-08-11 05:40] alsamhou commented on #131
Translation is fine by me ! i did small update in RED.

[2015-08-11 07:00] lkysow commented on #131
I've added the new translations to the app. Ensure you do a hard refresh to see the changes. If it looks good please close this ticket.

[2015-08-11 07:42] PeaceGeeks commented on #131
@alsamhou - back to you for full site QA please!

[2015-08-11 07:44] alsamhou commented on #131
overall looks good. but some are swapped like in this image:
![untitled](https://cloud.githubusercontent.com/assets/12682965/9192690/ec1952ac-4015-11e5-825d-5f8c28312f5e.png)

[2015-08-11 16:01] lkysow commented on #131
That is an unfortunate result of how the service data is being translated. For the service data we have a big translation csv file that we just do a search and replace with. Can you paste the actual text that is incorrect here please so I can find which words are wrong?

[2015-08-12 02:32] MagdiRizkallah commented on #131
@lkysow Added the column of existing Arabic to the doc...

@alsamhou you need to put all errors you find with the correction in the doc https://docs.google.com/spreadsheets/d/1pJUGN9PfuUd7bCMSiNPc6aZ7IxGs5mUng4_LJ_dPtbw/edit?usp=sharing

[2015-09-29 05:56] PeaceGeeks opened #173 "User can scroll below page footer on News"
http://peacegeeks.org/news

[2015-09-29 07:01] lkysow commented on #173
Is this an issue for services advisor?

[2015-09-29 07:02] lkysow commented on #163
Update: these fields are coming through but they don't contain any address information, so we're not displaying them.

[2015-09-29 14:37] PeaceGeeks commented on #173
Ha! No, wrong repo. thanks

[2015-09-29 14:37] #173 closed, assigned to nobody

[2015-09-29 14:44] PeaceGeeks commented on #163
@lkysow, @alsamhou and i discussed this - they will start populating this for the next fiscal year the current one is coming to a close so they feel it doesn't make sense to do this now. @alsamhou - can you confirm when the next fiscal year starts?

[2015-09-30 08:34] alsamhou commented on #163
we are working on creating 2016 database in activity info. we should launche it next week 7th/Oct.

[2015-10-02 17:26] PeaceGeeks opened #174 "Add proximity filter to 'Filter your Search'"
You can see an example of a proximity filter that was used in the beta version of this app here - http://data.unhcr.org/jordan/services-advisor/index.html - by clicking on 'Search' - you will have to wait till the data is loaded.

<img width="1276" alt="screen shot 2015-10-02 at 10 24 10 am" src="https://cloud.githubusercontent.com/assets/2263033/10253018/e4730f5e-68ef-11e5-8d8a-f64376ee47f7.png">

[2015-10-02 17:29] PeaceGeeks commented on #67
@amyngai - can you elaborate on this one?

[2015-10-02 17:47] PeaceGeeks opened #175 "Create a 'Yelp' style tool for refugees to rank their service experience"
This feedback tool should enable refugees to:
- provide a rating based on a 5 star system
- make comments about the experience
- submit comments publicly and/ or privately
- file a complaint
- rank that complain on a 5-point ranking for severity

Refugees searching for services should be able to view the rankings and search based on that additional filter

[2015-10-02 17:48] PeaceGeeks opened #176 "Change 'Filter Your Search' label to 'More Filters'"

[2015-10-03 00:15] amyngai commented on #67
The map currently does not center on what you've searched. Eg:
![sa-map not centering](https://cloud.githubusercontent.com/assets/5739342/10259616/0dc04f82-691f-11e5-81d2-4e276a3b7c16.gif)

the selected listing should center the corresponding location to the center of the map

[2015-10-03 02:09] amyngai commented on #175
this is a pretty big feature! I can start some initial designs for this

[2015-10-03 02:13] amyngai commented on #175
Is there an engineer who wants to take this on? We should discuss complexity because this feature will require a backend to deal with the rating and comment data. Potentially a log-in or at the very least guest login.

[2015-10-03 02:24] amyngai commented on #119
hey @PeaceGeeks ! Just wanted to bring this issue back.

Any further thoughts on the icon? Else I'm going to play with a flag idea

[2015-10-03 19:45] lkysow commented on #175
Would like to see a plan for this before it's jumped into:
- what db are we going to use to store this data
- do we have confirmation that we can run a db with our partners (unhcr)
- are we going to have login and accounts

[2015-10-03 20:43] PeaceGeeks commented on #175
There are some initial mocks for this which I am attaching  - Appnovation REALLY wanted to work on this during the hackathon - so it happened a little more quickly than it normally would have. The team made some headway on some of the fundamentals discussed, but we all agree that we need a proper plan for this. I am meeting with Murad on Tuesday to discuss further and to get his input on the mocks

[2015-10-05 17:42] amyngai commented on #175
Not a bad start. A few thoughts
- I don't thinkg we should prioritize a login/signup as the _first user experience_
- we're mixing ActivityInfo info with ratings info. Just a note for backend
- the redesign for the map - I like that if gives direction to the place. We did this for Routific and it works very well.
  - This also requires a bit of redesign of the map which might be a priority for aft

[2015-10-09 00:55] PeaceGeeks opened #182 "Pills not deleting consistently on clicking the x"
the issues with not being able to delete the pills seems to be back again - inconsistent but definitely back

amy got that as well.
Steps to reproduce for her:
- add filter pills
- leave page
- come back
- pills can’t be deleted

[2015-10-10 20:21] Jareechang commented on #182
hi guys, I was testing this briefly on local but it seems to be working for me ?
has this issue been fixed or something?

[2015-10-11 02:03] lkysow commented on #182
No, I think it's just hard to reproduce. Maybe look at the logic to see if
there's anything amiss.
On Oct 10, 2015 1:21 PM, "Jareechang" notifications@github.com wrote:

[2015-11-07 01:28] PeaceGeeks opened #184 "Remove 'Show on Activity Info' button"

[2015-11-09 04:13] PeaceGeeks opened #185 "Theme News & Events page according to mocks"
Please note and address the comments on the mocks

https://projects.invisionapp.com/d/main#/console/4971962/113573704/preview

[2015-11-13 19:25] lkysow commented on #185
@PeaceGeeks right project?

[2015-11-13 23:14] PeaceGeeks commented on #185
yes mistake!

[2015-11-13 23:14] #185 closed, assigned to PeaceGeeks

[2015-11-19 17:40] PeaceGeeks opened #186 "Set up analytics for SA"
The tracking ID to be used is: UA-70377142-1

The following lines should be included in the pages for pageview tracking.

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'scrip

[2015-11-20 08:30] #186 closed, assigned to lkysow

[2015-11-28 20:04] amyngai commented on #176
fixed https://github.com/PeaceGeeksSociety/services-advisor/pull/191

[2015-11-28 20:04] #176 closed, assigned to nobody

[2015-11-28 20:04] amyngai commented on #76
fixed

[2015-11-28 20:04] #76 closed, assigned to nobody

[2015-11-28 20:10] amyngai opened #192 "List doesn't scroll to top when new item is selected"
![list-info-bug](https://cloud.githubusercontent.com/assets/5739342/11453675/da8dd022-95c8-11e5-9866-78cdf1198e83.gif)

eg: when i click a new item on the map, the list detail on the right side should scroll to the top.

[2015-11-28 22:40] amyngai opened #195 "Update Filters UI"
TODO
- ~~mockups up shortly~~ (done, look below)

Idea:
- I don't like the modal. It's inconsistent in web not the best experience in mobile.
- Going to redesign it as a panel instead of a modal

[2015-11-29 00:14] amyngai commented on #195
![desktop filters](https://cloud.githubusercontent.com/assets/5739342/11454686/e156be60-95ea-11e5-8b66-da4ee010d2be.png)
![desktop filters web](https://cloud.githubusercontent.com/assets/5739342/11454687/e1583088-95ea-11e5-952e-7e5341f8f4cd.png)
<img src="https://cloud.githubusercontent.com/assets/5739342/11454685/e1561de8-95ea-11e5-9021-b7d205667c43.png" width="350px">

[2015-11-29 00:22] amyngai opened #199 "Update Map Service Text"
Update UI here:
<img width="347" alt="screen shot 2015-11-28 at 4 21 46 pm" src="https://cloud.githubusercontent.com/assets/5739342/11454713/3373488e-95ec-11e5-9cbf-f7d2dd7aee10.png">

[2015-11-29 00:51] amyngai commented on #199
![service text](https://cloud.githubusercontent.com/assets/5739342/11454790/5737c476-95f0-11e5-9354-fea223d2ad90.png)

[2015-11-29 01:02] amyngai commented on #199
here's some reference for the plugin: http://leafletjs.com/reference.html#popup

Let's add `autoPan`

i think the file that makes it is here:
src > angular > Services > popupbuilder.js

cc. @tuckerbuchy

[2015-11-29 19:49] lkysow opened #204 "Allow app to be deployed for different countries/services by specifying another json file for loading services"
When this ticket is closed. We will be able to clone the app, change the config to use the greece Amani services url and the app will work.

[2015-12-25 20:59] lkysow commented on #195
Nice work guys!

[2015-12-25 20:59] #195 closed, assigned to Jareechang

[2015-12-25 20:59] lkysow commented on #184
Done!

[2015-12-25 20:59] #184 closed, assigned to Jareechang

[2015-12-25 20:59] lkysow commented on #182
Fixed!

[2015-12-25 20:59] #182 closed, assigned to Jareechang

[2016-01-07 22:20] PeaceGeeks opened #214 "Confirm Standard/ Apply Standard"
Confirm with Devin final draft standard

[2016-01-07 22:45] PeaceGeeks opened #215 "Follow up with Rebeca on MyUHHCR collab"

[2016-01-12 00:31] shanedasilva opened #216 "Replace Gulp and Browserify with Webpack"
Moving to Webpack will allow a more stable dev environment. It was also setup for a test environment as well as Babel.js

[2016-01-12 00:32] shanedasilva commented on #216
Working on this one now.

[2016-09-30 03:40] mackh commented on #216
this is on hold, we are continuing w npm and gulp for the moment

[2016-09-30 04:07] mackh opened #219 "Rebuild regional filtering to be dependant on data"
Currently the regional filter on the app is dependant on hardcoded values in the codebase as well as polygon values from the polygon.json file.

The filters look for point locations in the polygons, which is unnessecary.

https://github.com/PeaceGeeksSociety/services-advisor/blob/master/src/angular/Services/search.js#L107-L125

https://github.com/PeaceGeeksSociety/services-advisor/blob/master/src/

[2016-09-30 04:11] mackh opened #220 "Move translations out of source control"
https://github.com/PeaceGeeksSociety/services-advisor/blob/master/src/angular/translations/translations.config.js

Translations for the application should be completely localized in the backend, and the app should be loading localized content from JSON feeds.

Need to work to remove as much of the localized content as possible.  As an interm step, make the inclusion of translations.config.js more

[2016-09-30 04:25] mackh commented on #69
we now snap to fit results, users are allowed to zoom out further, but I think the main intent is met with recent changes

[2016-09-30 04:28] mackh commented on #131
I believe this has been completed

[2016-09-30 06:08] PeaceGeeks commented on #131
@MagdiRizkallah - can you QA?

[2016-09-30 12:23] PeaceGeeksProjects commented on #131
Verified

[2016-09-30 12:23] #131 closed, assigned to alsamhou

[2016-11-11 18:43] mackh opened #221 "New style for map clustering"
Clients have noted that some people find the colours on the current map clusters to be confusing, the red on dense markers seems like that are more important than the yellow markers in the less dense areas.

All marker clusters should be the same color, regardless of size, how about green or light blue.  Currently the marker clusters are colored differently for 10, 100, 500 counts.

https://github

[2016-11-15 16:16] PeaceGeeksProjects commented on #221
How about different shades of same color, light, medium, dark, darker ...

[2017-07-04 23:58] tuckerbuchy opened #223 "testing epic"
**User Story**

**Acceptance Criteria**

**Done When**

[2017-07-05 00:04] #223 closed, assigned to nobody

[2017-08-03 20:46] arvandtiv commented on #117
the fix above is not related to this issue ... It's fix for https://github.com/PeaceGeeksSociety/servicesadvisor-3.0/issues/117

[2017-08-07 19:14] #163 closed, assigned to nobody

[2017-08-10 22:18] PeaceGeeks commented on #214
This is being considered in Services Advisor Pathways.

[2017-08-10 22:18] #214 closed, assigned to PeaceGeeks

[2017-08-15 00:21] tnightingale opened #224 "Update service-list-retrieval scripts to use new JSON format"

[2017-08-25 21:54] #224 closed, assigned to nobody